/*
Custom styling for Jonny's Hysteria

background: #677B85;
color: #440808;
*/
html {
  background: #911D1D;
  color: #FFFFFF;
}

a {
  color: #F01717;
}

a:hover {
  color: #DA1616;
}

div.nav {
  background: #7A1A1A;
}
