/*
 * Custom styling for Jonny's Hysteria
 */
html {
  background: #911D1D;
  color: #FFFFFF;
}

a {
  color: #FF0000;
}

a:hover {
  color: #DA1616;
}

div.nav {
  background: #7A1A1A;
}

.docs-props {
  visibility: hidden;
}
