/*
 * Style sheet for index.html
 */
html {
	background: #31748f;
	color: #ffffff;
	font-family: 'Ubuntu Mono';
}

a {
	text-decoration: none;
	padding: .2em 1em;
	color: #71C5E6;
}

a:hover {
	color: #41AAD5;
}

.unspaced-link {
	padding: 0;
}

/*
Nav
*/
div.nav {
	position: fixed;
	height: 30px;
	width: 100%;
	z-index: 1;
	margin-top: -10px;
	padding: 5px 0px 7px 0px;
	background: darkcyan;
	font-size: x-large;
	font-weight: 700;
	list-style-type: none;
}

div.nav ul {
	margin: 0;
	padding: 0;
	text-align: center;
}

div.nav ul li {
	display: inline;
	padding: 20px;
}

/*
Body
*/
.container {
	position: relative;
}

/*
Side bar
*/

div.side-bar {
	visibility: hidden;
	position: absolute;
	float: left;
	height: 100%;
	font-size: medium;
	margin: 10px 0px 20px 0px;
}

div.side-bar ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: left;
}

div.side-bar ul li {
	display: inline;
}

.tiny {
	font-size: x-small;
}

.small {
	font-size: small;
}

/*
Content
*/
.content {
	/*float: right;*/
	/*width: 70%;*/
	/*margin: 10px 10px 20px 0px;*/
	font-size: larger;
	/*padding: 10px 10px 10px 0px;*/
	margin: auto;
    max-width: 800px;
}

/*
Paragraphs
*/
.p {
	text-indent: 1.5em;
}

.p-no-indent {
	text-indent: 0em;
}

/*
Others
*/
.upper-roman {
	list-style-type: upper-roman;
}

.no-list-style {
	list-style-type: none;
}

.footer {
	font-size: x-small;
	text-align: center;
	margin: 10px 10px 20px 5px;
}

.footer_email {
	font-size: medium;
}

.clear {
	clear: both;
}


div.quote-list-side {
	display: none;
	visibility: hidden;
}

li.quote-list-side {
	font-size: x-small;
}

@media (min-width: 600px) {

}
