/*
 * Style sheet for index.html
 */
html {
	background: #31748f;
	color: #ffffff;
	font-family: 'Ubuntu Mono';
}

a {
	text-decoration: none;
	padding: .2em 1em;
	color: #71C5E6;
}

a:hover {
	color: #41AAD5;
}

/*
Nav
*/
#nav {
	position: fixed;
	height: 30px;
	width: 100%;
	z-index: 1;
	margin-top: -10px;
	padding: 5px 0px 7px 0px;
	background: darkcyan;
	font-size: larger;
	font-family: cursive;
}

#nav ul {
	margin: 0;
	padding: 0;
	text-align: center;
}

.no-list-style {
	list-style-type: none;
}

#nav ul li {
	display: inline;
	padding: 20px;
}

/*
Body
*/
.container {
	top: 25px;
	z-index: 0;
}

/*
Side bar
*/

#side-bar {
	position: absolute;
	z-index: 0;
	float: left;
	height: 100%;
	font-size: medium;
	margin: 10px 0px 20px 0px;
}

#side-bar ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: left;
}

#side-bar ul li {
	display: inline;
}

#side-bar ol {
	margin: 0;
	padding: 0;
	list-style-type: upper-roman;
}

#side-bar ol li {
	float: left;
}

.tiny {
	font-size: x-small;
}

.small {
	font-size: small;
}

/*
Content
*/
#content {
	float: right;
	width: 70%;
	background: #31748f;
	margin: 10px 10px 20px 0px;
	font-size: larger;
	padding: 10px 10px 10px 0px;
}

/*
Paragraphs
*/
.p-start {
	text-indent: 1.5em;
	margin-bottom: 1;
}

.p-following {
	text-indent: 1.5em;
	margin-top: 0;
}

#footer {
	font-size: x-small;
	text-align: center;
	margin: 10px 10px 20px 5px;
}

div #clear {
	clear: both;
}

/*
Jonny's Hysteria
*/
#jonnys-list {
	list-style-type: upper-roman;
}
