---
---
<!doctype html>
<html>
<head>
<title>The Doc's Repository of Jonny's Hysteria</title>

<link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='css/style.css' type='text/css'>

</head>

<body>

	<div id='home'></div>

	<!-- Navigation -->
	{% include header.html %}

	<!-- Content/Side bar -->
	<div class='container'>
		<div id='side-bar'>
			<h2>Writings</h2>

			<ul id='jonny-side-menu'>
				<a href='#jonnys-hysteria'><h3>Jonny's Hysteria</h3></a>
				<a href='#a-harsh-start'><li>A Harsh Start</li></a>

			</ul>
		</div>

		<div id='content'>

			<div id='about'>
				<p>
				<h1>Blog</h1>
				</p>
				<p>The Doc's repository of thoughts and things, and things from
					thoughts. Renegade photons of arbitrary memories and recollections
					resounding between, among, and around axons and neurons....only to
					land here.</p>
				<p>
					Enjoy. <a href='#a-harsh-start'>
						<h4>A Harsh Start</h4>
					</a>
				</p>
			</div>

			<div id='writing'>

				<div id='jonnys-hysteria'>

					<h2>Jonny's Hysteria</h2>
					<a href='#about-jonny'>About Jonny...</a>

					<div id='a-harsh-start'>
						
					</div>
					<div id='about-jonny'>
						<p>
						<h1>About Jonny</h1>
						</p>
						<p>I'm Jon. I like to write. Sometimes I write code, sometimes
							music, sometimes lyrics. Other times, I simply jot down insane
							and incoherent thoughts. This is where I spew thoughts of advice,
							wisdom, rage, and/or insanity. Read some. They may be
							inspirational....or encourage thoughts of homicide and a disgust
							towards humanity.</p>
						<a href='#jonnys-hysteria'>Back to Jonny's writings...</a>
					</div>
				</div>
			</div>
		</div>

		<!-- Break -->
		<div id='clear'></div>

		<!-- Footer -->
		{% include footer.html %}
	</div>

</body>
</html>
