/*
 * Style sheet for index.html
 */
#nav {
	position: fixed;
	height: 15px;
	width: 100%;
	z-index: 100;
}

#nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

#nav ul li {
	display: inline;
}

#nav ul li a {
	text-decoration: none;
	padding: .2em 1em;
	color: #fff;
}

#nav ul li a:hover {
	color: #41AAD5;
}

#footer-link {
	font-size: 10px;
}

#content {
	background: #31748f;
	overflow: auto;
}

/*
dark blue: #001b33 // Color of text pad Cobalt theme
dark lavender: #300a24 // Color of linux Terminal background
*/
#content-body {
	float: right;
	width: 700px;
	font-family: 'Ubuntu Mono';
	color: #ffffff;
	overflow: auto;
	width: 700px;
}

#content-body #home {
	margin: 50px 0px 50px 0px;
	padding: 20px 0px 20px 0px;
}

#content-body #writing {
	margin: 1000px 0px 1000px 0px;
	padding: 20px 0px 20px 0px;
}

#content-body #about {
	margin: 1000px 0px 1000px 0px;
	padding: 20px 0px 20px 0px;
}

p {
	margin-bottom: 1;
}

p+p {
	text-indent: 1.5em;
	margin-top: 0;
}

div #content {
	position: absolute;
}

div #side-bar {
	float: left;
	width: 20%;
}

div #content-body {
	margin: 20px 0px 0px 0px;
	font-size: 19px;
	float: right;
	width: 80%;
}

div #footer {
	font-size: 10px;
	text-align: center;
}

div #about {
	visibility: hidden;
}

div #clear {
	clear: both;
}