---
journal: /2014/08/03/journal-quotes.html
---
<!-- Side bar -->
<div id='side-bar' class='side-bar'>
	<div id='side-bar-children'>
		<div id='jonnys-hysteria-side-bar' class='jonnys-props'>

			<h3 id='jonnys-side-header'>
				<a href='{{ site.baseurl }}/jonnys-hysteria.html' class='unspaced-link'>
					Jonny's Hysteria
				</a>
				<!-- <div id='jonny-list' class='tiny'>(works)</div> -->
			</h3>

			<div id='jonnys-side-bar-children'>
				<ul>
					<!-- <li>
					<span class='tiny'>{{ post.date | date: "%B %-d, %Y" }}</span>
					<a class='small' href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
					</li> -->
					<span class='tiny'>{{ '2015/01/21' | date: "%B %-d, %Y" }}</span>
					<li><a class='small' href='{{ site.baseurl }}/2015/01/21/perpetual-perplexity.html'>Perpetual Perplexity</a></li>
					<li><br></li>
					<span class='tiny'>{{ '2014/05/21' | date: "%B %-d, %Y" }}</span>
					<li><a class='small' href='{{ site.baseurl }}/2014/05/21/influence-of-omega.html'>Influence of Omega</a></li>
					<li><br></li>
					<span class='tiny'>{{ '2014/05/17' | date: "%B %-d, %Y" }}</span>
					<li><a class='small' href='{{ site.baseurl }}/2014/05/17/had-to-see-about-a-girl.html'>Had to See About a Girl</a></li>
					<li><br></li>
					<span class='tiny'>{{ '2014/05/06' | date: "%B %-d, %Y" }}</span>
					<li><a class='small' href='{{ site.baseurl }}/2014/05/06/waste-your-breath.html'>Waste Your Breath</a></li>
					<li><br></li>
					<span class='tiny'>{{ '2014/04/23' | date: "%B %-d, %Y" }}</span>
					<li><a class='small' href='{{ site.baseurl }}/2014/04/23/a-harsh-start.html'>A Harsh Start</a></li>
					<li><br></li>
				</ul>
			</div>
		</div>

		<div id='the-docs-thoughts-side-bar' class='docs-props'>

		<h3 id='docs-side-header'>
			<a href='{{ site.baseurl }}/the-docs-thoughts.html' class='unspaced-link'>
				The Doc's Thoughts
			</a>
			<!-- <div id='docs-list' class='tiny'>(works)</div> -->
		</h3>

		<div id='docs-side-bar-children'>
			<ul>
				<span class='tiny'>{{ '2015/09/14' | date: "%B %-d, %Y" }}</span>
				<li><a class='small' href='{{ site.baseurl }}/2015/09/14/outdrank-who.html'>Outdrank Who?</a></li>
				<br>
				<span class='tiny'>{{ '2014/08/03' | date: "%B %-d, %Y" }}</span>
				<li><a class='small' href='{{ site.baseurl }}/2014/08/03/journal-quotes.html'>Journal Quotes</a><a hidden id='toggle-quotes' class='small'>(contents)</a>
			<div id='quote-list-side' class='quote-list-side'>
				<ol>
					<li><a href='{{ site.baseurl }}/2014/08/03/journal-quotes.html#07-18-2014-i'>07-18-2014-i</a></li><br>
					<li><a href='{{ site.baseurl }}/2014/08/03/journal-quotes.html#08-02-2014-i'>08-02-2014-i</a></li><br>
					<li><a href='{{ site.baseurl }}/2014/08/03/journal-quotes.html#08-03-2014-i'>08-03-2014-i</a></li><br>
				</ol>
				</li>
				<br>
				<span class='tiny'>{{ '2014/07/28' | date: "%B %-d, %Y" }}</span>
				<li><a class='small' href='{{ site.baseurl }}/2014/07/28/the-onus-is-never-encumbrance.html'>The Onus is Never Encumbrance</a></li>
			</ul>
		</div>
		</div>
		<br />
		<br />
	</div>

</div>
