<!-- Side bar -->
<div id='side-bar'>
	<a class='menu'></a>
	<a href='{{ site.baseurl }}/writings.html'><h2>Writings</h2></a>

	<a href='{{ site.baseurl }}/jonnys-hysteria.html'><h3>Jonny's Hysteria</h3></a>
	<ul>
	{% for post in site.posts %}
		<li>
		<span class='tiny'>{{ post.date | date: "%B %-d, %Y" }}</span>
		<a class='small' href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
		</li>

		<br>
	{% endfor %}
	</ul>
	<a href='{{ site.baseurl }}/the-docs-thoughts.html'><h3>The Doc's Thoughts</h3></a>
	<br />
	<br />
</div>
