---
header: header.html
footer: footer.html
sidebar: sidebar.html
---
<!doctype html>
<html>
<head>
<link rel="icon" type="image/png" href="{{ site.baseurl }}/glider.png"/>
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name='author' content='Jon Henrich' />
<link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono'
	rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='{{ site.baseurl }}/css/style.css' type='text/css'>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js'></script>
<script src='{{ site.baseurl }}/script.js'></script>
</head>

<body>
	{% include {{page.header}} %}

	<!-- Content-->
	<div class='container'>
		{% include {{page.sidebar}} %}
		{{content}}

		<!-- Break -->
		<div class='clear'></div>
		{% include {{page.footer}} %}

	</div>
</body>
</html>
